@import "element-plus/dist/index.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

:root {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // user agent styles
  margin: 0;
}

.el-icon {
  &.right {
    margin-left: 0.25em;
  }

  &.left {
    margin-right: 0.25em;
  }
}

// allow full-width content
.el-page-header__content {
  flex: 1;
}

// bold things
.el-descriptions__label,
.el-collapse-item__header {
  font-weight: bold;
}