<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>RendezVous</title>
</head>

<body>
  @RenderBody()

  <environment names="Development">
    <script type="module" src="~/client-app/@@vite/client"></script>
    <script type="module" src="~/client-app/src/index.ts"></script>
  </environment>
</body>

</html>